parameters:
	ignoreErrors:
		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: app/Http/Controllers/Admin/MediaController.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$fullName\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Function Laravel\\Prompts\\alert invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 2
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\User\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/Admin/Profile/Index.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$images\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$hidden is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$hidden\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php
