.table-wrap {
    .table-header {
        margin-bottom: 25px;

        .showing-form {
            display: flex;
            align-items: center;
            height: 35px;
            // color: $gray-600;

            select {
                max-width: 70px;
                width: 100%;
                height: 100%;
                text-align: center;
            }
        }

        .search-form {
            position: relative;
            max-width: 460px;
            width: 100%;
            height: 40px;
            padding-left: 30px;

            input {
                width: 100%;
                height: 100%;
                border-radius: 12px;

                &::placeholder {
                    // color: $gray-600;
                }
            }

            .icon {
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
            }
        }

        .btn-add {
            display: flex;
            justify-content: center;
            align-items: center;
            width: max-content;
            height: 40px;
            font-weight: bold;
            font-size: 14px;
            color: $hover-color;
            border: 1px solid $hover-color;
            border-radius: 12px;

            .icon {
                padding-right: 8px;
                font-size: 18px;
            }

            &:hover {
                color: $white;
                background-color: $hover-color;
            }
        }
    }

    .table-responsive {
        // padding-bottom: 25px;

        .dt-empty {
            text-align: center !important;
            vertical-align: middle !important;
        }
    }

    .datatable-footer,
    .table-footer {
        position: relative;
        padding-top: 25px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 1px;
            background-color: rgba($color: $gray-400, $alpha: .5);
        }
    }

    .datatable-footer {
        .dt-info {
            color: $gray-600;
            font-size: 14px;
        }

        .dt-paging {
            display: flex;
            align-items: center;
            gap: 0;
            margin-left: auto;

            .pagination {
                margin-bottom: 0;
            }

            .dt-paging-button {
                display: inline-flex !important;
                justify-content: center;
                align-items: center;
                min-width: 35px;
                width: 35px;
                height: 35px;
                margin: 0 5px;
                padding: 0;
                font-size: 14px;
                font-weight: bold;
                color: $black !important;
                background: $white !important;
                border: 1px solid $pagination-border-color !important;
                border-radius: 50% !important;
                transition: .2s ease;

                .icon {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    font-size: 14px;
                }

                &:hover:not(.disabled):not(.current) {
                    color: $hover-color !important;
                    border-color: $hover-color !important;
                }

                &.current {
                    color: $white !important;
                    background-color: $hover-color !important;
                    border-color: $hover-color !important;
                }

                &.disabled {
                    opacity: .5;
                    cursor: not-allowed;
                }

                &.previous,
                &.next {
                    border-color: $main-background !important;
                }
            }
        }
    }
}

.table {
    .table-col-id,
    .table-col-actions {
        width: 1%;
        white-space: nowrap;
    }

    .table-col-actions {
        text-align: center !important;

        .table-actions-group {
            display: inline-flex;
            flex-wrap: nowrap;
        }
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin-right: 5px;
        font-size: 20px;
        border-radius: 50%;
    }

    thead {
        tr {
            th {
                font-size: 12px;
                border: none !important;
                background-color: $gray-100;
            }
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid $gray-200;

            td {
                height: 75px;
                vertical-align: middle;
                text-align: left !important;
                color: $main-color;
                border: none !important;
    
                &:first-of-type {
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                }
    
                &:last-of-type {
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                }
            }

            &:first-of-type {
                border-top: 1px solid $gray-200;
            }
        }

        &::before {
            content: ".";
            display: block;
            color: $white;
            line-height: 15px;
        }
    }

    &.table-dashboard {
        tbody {
            tr {
                td {
                    height: auto;
                }
            }
        }
    }
}